img {
    
    border: 2px solid rgb(0, 0, 0);
    height: 250px;
    width: 250px;
  }
.stats {
    flex-direction: column;
    font: 10px;
    font-size: 20px;
    margin-left: 30px;
    line-height: 40%;
 }
p {
    font: bolder;
    font-size: 20px;
    line-height: 40%;
}
.name {
    display: flex;
    border: 1px solid rgb(80, 80, 80);
    background-color: rgb(218, 216, 216) ;
    justify-content: center;
    line-height: 150%;
    border-radius: 10px;
}
.button {
    border: none;
    background-color: rgb(218, 216, 216) ;
    font-size: 40px;
    font-weight: 10px;
    border-radius: 10px;
    width: 100px;
}
.page {
    border: none;
    background-color: rgb(218, 216, 216) ;
    font-size: 23px;
    font-weight: 5;
    height: 50px;
    border-radius: 10px;
    width: 100px;
}
.left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#all {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.btn {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.btn1 {
    margin-top: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
span {
    background-color: rgb(218, 216, 216);
    width: 300px;
    height: 350px;
}